name: "Cachix"
on:
  push:
jobs:
  cachix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: ["ght"]
    steps:
      - name: Checkout flake
        uses: actions/checkout@v4

      - name: Install nix
        uses: DeterminateSystems/nix-installer-action@v16

      - name: Build ${{ matrix.package }}
        run: nix build .#${{ matrix.package }}
