name: "Cachix"
on:
  push:
jobs:
  cachix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: ["ght", "icloudpd"]
    steps:
      - name: Checkout flake
        uses: actions/checkout@v4

      - name: Install nix
        uses: DeterminateSystems/nix-installer-action@v9

      - name: Setup magic-nix-cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Build ${{ matrix.package }}
        run: nix build .#${{ matrix.package }}
